.bg-menu{
    /* background: linear-gradient(36deg, #792f54 8%, #5c1359 89%); */
    background: #521732!important;
}

.container{
    display: flex;
    justify-content: space-between;
}

.title{
    font-weight: bold!important;
    
}

.cursor{
    cursor: pointer;
    color: white;
}

.text-decorator-none {
    text-decoration: none;
}